---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
// import { Button } from '@/components/button';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<!-- component -->
<nav class=" bg-white w-2/3 flex relative justify-evenly items-center mx-auto px-8 h-20">
	<div class="grid grid-cols-10 gap-2 ">
		<div class="col-span-2 fontlink">Home</div>
		<div class="col-span-2 fontlink">About Us</div>
		<div class="col-span-2 fontlink">ICON</div>
		<div class="col-span-2 fontlink">Socials</div>
		<div class="col-span-1 fontlink">Contact</div>
	</div>
</nav>
</Layout>

<style>
	nav {
		border-radius:0 0 25px 25px;
	}
	.fontlink {
		font-family: 'Instrument Serif', serif;
		font-size: 1.5rem;
	}
</style>